{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task</title>
{% endblock meta %}

{% block content %}  

<div class = "create_task" style="margin: 10px">
    
    <h1 class="h3 mb-3 font-weight-normal">Task</h1>  

    <form method="POST" action="" class="card">
        {% csrf_token %}
        Task:
        <input type="text" name="title" class="form-control" required="">
    
        Description:
        <div>
            <textarea id="description" name="description" rows="4" cols="50" required></textarea>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     

</div>

{% endblock content %}