{% extends 'base.html' %}

{% block content %}

<body>
    <nav class="navbar" style="margin: 10px">
        <div>
            <h1>Tugas 4 Assignment PBP/PBD</h1>
            <h5>Hello, {{user}}!</h5>
        </div>
        <a class="btn btn-lg btn-primary btn-block" href="{% url 'todolist:logout' %}" >Logout</a>
    
    </nav>
    
    <nav class="navbar" style="margin-left: 10px; margin-right: 10px;">
        <a class="btn btn-lg btn-primary btn-block" href="{%url 'todolist:create_task' %}">New Task</a>    
    </nav>
    
    <div class="container" style="max-width: 1000px">
        {% for thing in todolist %}
        <div class="thing card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{thing.date}}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title">{{thing.title}}</h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{thing.description}}</li>
                </ul>
                <div>
                    {% if thing.is_finished %} 
                    <a class="btn btn-success"  href="{% url 'todolist:change_status' thing.id %}">Selesai</a>
                    {% else %}
                    <a class="btn btn-success" href="{% url 'todolist:change_status' thing.id %}">Belum Selesai</a>
                    {% endif %}
                    <a class="btn btn-danger" href="{% url 'todolist:delete_task' thing.id %}">Delete</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    
</body>





{% endblock content %}