{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block meta %}
  {% endblock meta %}
</head>



<table>
  <tr>
  <th>Item Name</th>
  <th>Item Price</th>
  <th>Item Stock</th>
  <th>Description</th>
  <th>Rating</th>
  <th>Item URL</th>
  </tr>
  {% for barang in list_katalog %}
      <tr>
          <th>{{barang.item_name}}</th>
          <th>{{barang.item_price}}</th>
          <th>{{barang.item_stock}}</th>
          <th>{{barang.description}}</th>
          <th>{{barang.rating}}</th>
          <th>{{barang.item_url}}</th>
      </tr>
  {% endfor %}    
</table>

</html>